<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2019/1/26
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>表单预览</title>
    <!--GeneralLib非必须,暂时只是用到其中的perfect-scrollbar的引用-->
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <!--GeneralLib非必须,暂时只是用到其中的perfect-scrollbar的引用-->

    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <script>
        var formRuntimeInst;
        //var formRuntimeInst;
        $(function () {
            /*formRuntimeInst = Object.create(FormRuntime);
            var formId=BaseUtility.GetUrlParaValue("FormId");
            var buttonid=BaseUtility.GetUrlParaValue("ButtonId");
            var operationType=BaseUtility.GetUrlParaValue("OperationType");
            //var elemid=BaseUtility.GetUrlParaValue("elemid");
            formRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                FormId:formId,
                IsPreview:true,
                OperationType:operationType,
                RendererChainCompletedFunc:function () {
                    //var relationFormRecordComplexPo=FormRuntimeMock.GetMockData();
                    //this.DeSerializationFormData(relationFormRecordComplexPo);
                }
            });
             */
            formRuntimeInst=FormRuntimeSinglePageObject.pageReady(true);

            BaseUtility.SetSystemFavicon();

            $("#btnSaveButton").bind("click",{},function (sender) {
                var result=formRuntimeInst.SerializationFormData();
                //debugger;
                DialogUtility.AlertJsonCode(result,5);
                console.log(result);
            })

            $("#btnLoadButton").bind("click",{},function (sender) {
                DialogUtility.Prompt(window,{
                    width: 900,
                    height: 600,
                    title:"加载数据"
                },DialogUtility.DialogPromptId,"请贴入数据Json字符串",function (jsonString) {
                    try{
                        var relationFormRecordComplexPo=FormRuntimeMock.GetMockData();
                        formRuntimeInst.DeSerializationFormData(relationFormRecordComplexPo);
                    }
                    catch (e) {
                        alert("反序列化失败:"+e);
                        throw e;
                    }
                });
            })
        });
    </script>
</head>
<body>
    <div id="htmlDesignRuntimeWrap"></div>
    <div class="html-design-operation-button-outer-wrap">
        <div class="html-design-button-inner-wrap">
            <div class="html-design-buttons-group">
                <button type="button" class="operation-button operation-button-primary" id="btnSaveButton"><span>获取序列化结果</span></button>
                <button type="button" class="operation-button operation-button-primary" id="btnLoadButton"><span>加载数据</span></button>
                <button type="button" class="operation-button"><span>关闭</span></button>
            </div>
        </div>
    </div>
</body>
</html>