<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>应用系统</title>
    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <script>
        /*var webFormRTParas={
            "FormId":BaseUtility.GetUrlParaValue("FormId"),
            "ButtonId":BaseUtility.GetUrlParaValue("ButtonId"),
            "OperationType":BaseUtility.GetUrlParaValue("OperationType"),
            "ElemId":BaseUtility.GetUrlParaValue("ElemId"),
            "RecordId":BaseUtility.GetUrlParaValue("RecordId")
        };
        if(StringUtility.IsNullOrEmpty(webFormRTParas.RecordId)){
            webFormRTParas.RecordId=StringUtility.Guid();
        }*/
        //var formRuntimeInst;
        $(function () {
            //console.log(webFormRTParas);
            /*var formRuntimeInst = Object.create(FormRuntime);
            formRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                FormId:webFormRTParas.FormId,
                RecordId:webFormRTParas.RecordId,
                ButtonId:webFormRTParas.ButtonId,
                OperationType:webFormRTParas.OperationType,
                IsPreview:false,
                RendererChainCompletedFunc:function () {
                    //var relationFormRecordComplexPo=FormRuntimeMock.GetMockData();
                    //this.DeSerializationFormData(relationFormRecordComplexPo);
                }
            })*/
            //console.log();
        });
    </script>
</head>
<body>
    <div id="formRuntimeContainer" class="general-edit-page-wrap" v-cloak>
        <div id="htmlDesignRuntimeWrap" style="overflow: auto"></div>
        <div class="html-design-operation-button-outer-wrap">
            <div class="html-design-button-inner-wrap">
                <div class="html-design-buttons-group" id="innerButtonWrapOuter">
                </div>
            </div>
        </div>
    </div>
    <script>
        var formRuntimeInst;
        var formRuntimeVueContainer = new Vue({
            el:"#formRuntimeContainer",
            data: {
            },
            mounted:function () {
                BaseUtility.SetSystemFavicon();
                DialogUtility.AlertLoading(window,DialogUtility.DialogLoadingId,{},"");
                formRuntimeInst=FormRuntimeSinglePageObject.pageReady(false,function () {

                },FormRuntimeSinglePageObject.getWebFormRTParasWithListButtonId);

                var windowHeight=formRuntimeInst.GetWebFormRTParas().WindowHeight;
                if(windowHeight) {
                    $("#htmlDesignRuntimeWrap").height(windowHeight - 120);
                }
            },
            methods: {
                pageToLoadingStatus:function (_loadStatus){
                    this.loadStatus=_loadStatus;
                }
            }
        });
    </script>
</body>
</html>