<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <th:block th:replace="Fragment/GeneralLib::HTMLDesignRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <script>
        $(function () {
            var ListRuntimeInst = Object.create(ListRuntime);
            var listId=RuntimeGeneralInstance.TryGetMenuOuterId();
            ListRuntimeInst.Initialization({
                RendererToId: "htmlDesignRuntimeWrap",
                ListId:listId
            })
        });
    </script>
</head>
<body>
<div id="htmlDesignRuntimeWrap"></div>
</body>
</html>