<!--
  Created by IntelliJ IDEA.
  User: zhuangrb
  Date: 2021/10/19
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::WebixLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::LineAwesomeLib"></th:block>
    <script type="text/javascript" charset="utf-8">
    </script>
</head>
<body>
    <!--迁移到TemplatePageInnerWidgetLayoutDependWebix.html与TemplatePageInnerWidgetLayoutDependGridstack.html-->
</body>
</html>