.uid-wldct-list-table-inner-button-container-wrap {
  text-align: center;

  .wldct-list-table-row-inner-button {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 1px;
  }

  .wldct-list-table-row-inner-button:hover{
    background-color: #c8dcfe;
    border-radius: 4px;
  }

  .ivu-tooltip:first-child {
    .wldct-list-table-row-inner-button{
      margin-left: 0px;
    }
  }

  .view{
    background-image: url("Images/BuilderRuntime/kdvi.png");
  }
  .edit{
    background-image: url("Images/BuilderRuntime/kedit.png");
  }
  .del{
    background-image: url("Images/BuilderRuntime/del.png");
  }
  .selected{
    background-image: url("Images/BuilderRuntime/selected.png");
  }
  .listmanager{
    background-image: url("Images/BuilderRuntime/List manager.png");
  }
  .edit-model{
    background-image: url("Images/BuilderRuntime/edit_model.png");
  }
  .view-model{
    background-image: url("Images/BuilderRuntime/view_model.png");
  }
  .move-up{
    background-image: url("Images/BuilderRuntime/arrow_large_up_outline.png");
  }
  .move-down{
    background-image: url("Images/BuilderRuntime/arrow_large_down_outline.png");
  }
  .kded{
    background-image: url("Images/BuilderRuntime/kded.png");
  }
  .grade{
    background-image: url("Images/BuilderRuntime/grade.png");
  }
  .image-cultured{
    background-image: url("Images/BuilderRuntime/image-cultured.png");
  }
  .page-white-edit{
    background-image: url("Images/BuilderRuntime/page-white-edit.png");
  }
  .page-attach{
    background-image: url("Images/BuilderRuntime/page-attach.png");
  }
  .page-go{
    background-image: url("Images/BuilderRuntime/page-go.png");
  }
  .script-go{
    background-image: url("Images/BuilderRuntime/script-go.png");
  }
  .script-key{
    background-image: url("Images/BuilderRuntime/script-key.png");
  }
  .wrench-orange{
    background-image: url("Images/BuilderRuntime/wrench-orange.png");
  }
  .x-office-document-template{
    background-image: url("Images/BuilderRuntime/x-office-document-template.png");
  }
  .x-office-drawing{
    background-image: url("Images/BuilderRuntime/x-office-drawing.png");
  }
  .kjobviewer{
    background-image: url("Images/BuilderRuntime/kjobviewer.png");
  }
}

.uid-divider-horizontal-outer{
  display: flex;
  margin: 2px 0;
  color: #000000d9;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
  border-top-color: #0000000f;
  overflow-y: hidden;
  height: 16px;

  .uid-divider-horizontal-text{
    display: inline-block;
    padding: 0 1em;
  }
}

.uid-divider-horizontal-outer:before{
  position: relative;
  top: 50%;
  height: 4px;

  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  //transform: translateY(50%);
  content: "";
}

.uid-divider-horizontal-outer:after{
  position: relative;
  top: 50%;
  height: 4px;

  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  //transform: translateY(50%);
  content: "";
}

.uid-divider-horizontal-outer-center:before{
  width: 50%;
}
.uid-divider-horizontal-outer-center:after{
  width: 50%;
}

.uid-divider-horizontal-outer-left:before{
  width: 5%;
}
.uid-divider-horizontal-outer-left:after{
  width: 95%;
}

.uid-divider-horizontal-outer-right:before{
  width: 95%;
}
.uid-divider-horizontal-outer-right:after{
  width: 5%;
}