@import "Variable.less";

.uid-theme-wrap-default {

  .uid-afdct-single-table-layout-wrap {
    border: 0px dashed LightBlue;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 4px;

    > table {
      border-collapse: collapse;
      width: 100%;

      > tbody {
        > tr {
          > td {
            border: 1px solid @g-concrete-color-v04;
            text-align: center;
            font-size: 10pt;
            padding: 2px;
            height: 30px;
          }
        }
      }
    }
  }

  .grid-stack {
    min-height: 500px;
    margin: 8px;
    border: 1px dotted @g-concrete-color-v08;
    border-radius: 2px;

    .grid-stack-item {
      .grid-stack-item-content {
        background-color: @g-concrete-color-v01;
        border: 1px solid @g-concrete-color-v08;
        padding: 4px;
      }
    }
  }

  .uid-afdct-tab-layout-wrap {
    margin: 10px;
    /*height:calc(100% - 20px);*/

    .uid-afdct-tab-panel-outer-wrap {
      min-height: 500px;
    }
  }
}

