@import "Variable.less";
@import "DataTables.less";
@import "UIDesignBaseMain";

html, body, form, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.html-design-input-type-text{
  /*background: transparent;*/
  width: 100%;
  padding: 4px 7px;
  font-size: 12px;
  border: 0px solid #dcdee2;
  border-bottom: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  box-sizing: border-box;
  cursor: text;
  -webkit-transition: border .2s ease-in-out,background .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out,background .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}

.html-design-list-button{
  align-items: flex-start;
  background-color: #2d8cf0;
  background-image: none;
  border: #2d8cf0 1px solid;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 31.8906px;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  position: relative;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-property: color, background-color, border, box-shadow, -webkit-box-shadow;
  transition-timing-function: linear, linear, linear, linear, linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 75.3438px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  z-index: auto;
  -webkit-appearance: none;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}

.uid-runtime-default-theme-root{
  .uid-wldct-list-simple-search-container-wrap, .wldct-list-hide-outer-wrap{

    .uid-container-inner-wrap, .wldct-list-hide-inner-wrap{
      border: @g-wldct-list-border-color 1px solid;
      border-radius: 4px;
      /*min-height: 70px;*/
      margin: 10px;
      text-align: left;

      table {
        margin: 8px 8px 8px 8px;
        border-collapse: collapse;
        font-size: 12px;
        width: 98.6%;

        .title {
          color: #2e6e9e;
          text-align: center;
          font-size: 16px;
        }

        tr {
          td, th {
            padding: 6px;
            border: 1px solid #f0f0f0;

            input[type="text"], textarea, select {
              .html-design-input-type-text;
            }
          }
          th {
            color: #2e6e9e;
            background-color: #f0f4fa;
          }
        }

        .label {
          background-color: #f7f7f7;
          text-align: right;
        }
      }
    }

    .wldct-list-simple-search-button-inner-wrap{
      //position: absolute;
      /*right: 10px;
      top: 20px;*/
      margin-top: 20px;

      button{
        .html-design-list-button;
      }
      button:hover{
        background-color: #57a3f3;
        border-color: #57a3f3;
      }
      button:first-child{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      button:last-child{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  .uid-wldct-list-button-container-wrap{

    .uid-container-inner-wrap{
      border: @g-wldct-list-border-color 1px solid;
      border-radius: 4px;
      min-height: 48px;
      margin: 10px;

      table {
        margin: 8px auto 8px auto;
        border-collapse: collapse;
        font-size: 12px;
        width: 98%;

        tr {
          td {
            padding: 6px;
            border: 1px solid #d5d5d5;
          }
        }
      }
    }

    .uid-wldct-list-button-inner-inside-wrap{
      box-sizing: border-box;
      color: rgb(81, 90, 110);
      display: block;
      float: right;
      font-size: 12px;
      height: 31.8906px;
      line-height: 18px;
      margin: 6px;
      padding: 0px;
      text-size-adjust: 100%;
      -webkit-box-direction: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      .wldct-list-button{
        .html-design-list-button;
      }
      .wldct-list-button:hover{
        background-color: #57a3f3;
        border-color: #57a3f3;
      }
      .wldct-list-button:first-child{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      .wldct-list-button:last-child{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  .uid-wldct-list-table-container-wrap{

    .uid-container-inner-wrap{
      border:@g-wldct-list-border-color 1px solid;
      border-radius: 4px;
      min-height: 230px;
      margin: 10px;

      th, td { white-space: nowrap; }
      .op-button-container-outer-td{
        width: 120px;
        text-align: center;
      }
      .list-table {
        /*margin: 8px auto 8px auto;*/
        //border-collapse: collapse;
        //font-size: 12px;
        width: 98%;

        /*thead{
            tr {
                th {
                    padding: 6px;
                    border: 1px solid #d5d5d5 !important;
                    text-align: center;
                    background-color: #eaeef9;
                }
            }
        }

        tbody{
            tr {
                td {
                    padding: 6px;
                    border: 1px solid #d5d5d5 !important;
                }
            }
        }*/
      }

      .table-paging-outer{
        /*float: right;*/
        width: 100%;
        height: 40px;
        .table-paging-inner{
          float: right;

          .table-paging-button{
            float: left;
            width: 70px;
            border: #e0e0e0 1px solid;
            border-radius: 6px;
            text-align: center;
            margin: 6px;
            height: 28px;
            line-height: 28px;
            background-color: #f9f9f9;
            cursor: pointer;
          }

          .table-paging-button:hover{
            background-color: #fdfdfd;
          }

          .table-paging-info {
            float: left;
            width: 190px;
            border: #e0e0e0 0px solid;
            border-radius: 6px;
            text-align: center;
            margin: 6px;
            height: 28px;
            line-height: 28px;
            font-weight: bold;
          }
        }
      }
    }

  }

  .uid-wldct-list-table-inner-button-container-wrap{
    .uid-wldct-list-table-inner-button-container-wrap
  }

  .wrap-hide{
    display: none;
  }

  .uid-table-container-wrap {
    border: 1px dashed LightBlue;
    box-sizing: border-box;
    margin: 8px;
    padding: 8px;

    background-repeat: no-repeat;
    background-color: @g-concrete-color-v00;
    background-position: right top;

    .uid-container-inner-wrap {
      > table {
        border-collapse: collapse;
        width: 100%;

        > thead {
          > tr {
            > th {
              border: 1px solid @g-concrete-color-v04;
              text-align: center;
              font-size: 10pt;
              padding: 2px;
              height: 30px;
            }
          }
        }

        > tbody {
          > tr {
            > td {
              border: 1px solid @g-concrete-color-v04;
              text-align: center;
              font-size: 10pt;
              padding: 2px;
              height: 30px;

              input[type="text"], textarea, select {
                .html-design-input-type-text;
                border: 1px solid @g-concrete-color-v04;
                padding: 6px 6px;
              }
            }
          }
        }
      }
    }
  }

  .uid-wfdct-layout-single-table-layout-wrap{
    .uid-table-container-wrap;
  }
}

.uid-runtime-form-innerbutton-outer-wrap {
  height: 34px;
  border-top: solid 1px @g-table-border-color;
  margin-top: 8px;
  padding-top: 8px;
  position:fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: #ffffff;

  .uid-runtime-form-innerbutton-inner-wrap {
    float: right;

    .uid-runtime-form-innerbutton-group{
      display: inline-block;
      vertical-align: middle;

      .operation-button {
        float: left;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        line-height: 1.5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 5px 15px 6px;
        font-size: 12px;
        -webkit-transition: color .2s linear,background-color .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
        transition: color .2s linear,background-color .2s linear,border .2s linear,-webkit-box-shadow .2s linear;
        transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
        transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear,-webkit-box-shadow .2s linear;
        color: #515a6e;
        background-color: #fff;
        border-color: #dcdee2;
        margin-left: -1px;
      }

      .operation-button:hover{
        border-top-color: #57a3f3;
        border-bottom-color: #57a3f3;
        color: #2d8cf0;
      }

      .operation-button-primary{
        background-color: #2d8cf0;
        color: #FFFFFF;
      }

      .operation-button-primary-disabled{
        background-color: #dde9f6;
        color: #444141;
      }

      .operation-button-primary:hover{
        background-color: #57a3f3;
        color: #FFFFFF;
      }

      button:first-child{
        margin-left: 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      button:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

