<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
</head>
<body>
<div id="appForm" class="general-edit-page-wrap" v-cloak>
    <i-form ref="formEntity" :model="formEntity" :rules="ruleValidate" :label-width="100">
        <form-item label="文件夹名称：" prop="tableGroupValue">
            <i-input v-model="formEntity.folderName"></i-input>
        </form-item>
        <form-item label="创建时间：">
            <row>
                <i-col span="10">
                    <date-picker type="date" placeholder="选择创建时间" v-model="formEntity.folderCreateTime" disabled
                                 readonly></date-picker>
                </i-col>
                <i-col span="4" style="text-align: center">状态：</i-col>
                <i-col span="10">
                    <form-item>
                        <radio-group v-model="formEntity.folderStatus">
                            <radio label="启用">启用</radio>
                            <radio label="禁用">禁用</radio>
                        </radio-group>
                    </form-item>
                </i-col>
            </row>
        </form-item>
        <form-item label="备注：">
            <i-input v-model="formEntity.folderDesc" type="textarea" :autosize="{minRows: 18,maxRows: 18}"></i-input>
        </form-item>
    </i-form>
    <div class="button-outer-wrap">
        <div class="button-inner-wrap">
            <button-group>
                <i-button type="primary" v-if="status!='view'" @click="handleSubmit('formEntity')" icon="md-checkmark">保存</i-button>
                <i-button v-if="status!='view'" @click="handleClose()" icon="md-close">取消</i-button>
            </button-group>
        </div>
    </div>
</div>
<script>
    var appForm = new Vue({
        el:"#appForm",
        data: {
            acInterface:{
                getDataUrl:"/Rest/Builder/SiteFolder/GetDetailData",
                saveDataUrl:"/Rest/Builder/SiteFolder/SaveEdit"
            },
            recordId:BaseUtility.GetUrlParaValue("recordId"),
            formEntity: {
                folderId:"",
                folderName:"",
                folderParentId:BaseUtility.GetUrlParaValue("parentId"),
                folderCreateTime:DateUtility.GetCurrentData(),
                folderCreator:"",
                folderDesc:"",
                folderStatus:"启用",
                folderType:"Folder"
            },
            ruleValidate: {
                folderName: [
                    {required: true, message: '【文件夹名称】不能空！', trigger: 'blur'}
                ]
            },
            status: BaseUtility.GetUrlParaValue("op")
        },
        mounted:function () {
            this.bindFormData();
        },
        methods: {
            bindFormData:function(){
                //获取数据并赋值
                DetailPageUtility.BindFormData(this.acInterface.getDataUrl, this.formEntity, this.recordId, this.status,null,null);
            },
            handleSubmit: function (name) {
                var _self = this;
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        var sendData = JSON.stringify(_self.formEntity);
                        AjaxUtility.PostRequestBody(_self.acInterface.saveDataUrl, sendData, function (result) {
                            DialogUtility.Alert(window, DialogUtility.DialogAlertId, {}, result.message, function () {
                                if(result.success) {
                                    if (appForm.status == "add") {
                                        window.OpenerWindowObj.appList.newTreeNode(_self.formEntity);
                                    }
                                    else if (appForm.status == "update") {
                                        window.OpenerWindowObj.appList.updateNode(_self.formEntity);
                                    }
                                }
                                DialogUtility.Frame_CloseDialog(window);
                            });
                        }, this);
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleClose: function () {
                DialogUtility.Frame_CloseDialog(window);
            }
        }
    })
</script>
</body>
</html>