<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <th:block th:replace="Fragment/GeneralLib::WorkFlowRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::LineAwesomeLib"></th:block>
</head>
<body>
    <div id="flowInstanceViewContainer" class="general-edit-page-wrap" v-cloak>
        <div id="htmlDesignRuntimeWrap" style="overflow: auto;position: absolute;top:0px;bottom: 41px;left: 0px;right: 0px;"></div>
        <div class="html-design-operation-button-outer-wrap">
            <div class="html-design-button-inner-wrap">
                <div class="html-design-buttons-group" id="flowWorkActionButtonWrapOuter">
                </div>
            </div>
        </div>
    </div>
    <script>
        var flowRuntimePageObject;

        var flowInstanceViewVueContainer = new Vue({
            el:"#flowInstanceViewContainer",
            data: {
                acInterface:{
                    getRuntimeModelWithStart:"/Rest/Workflow/RunTime/Client/InstanceRuntime/GetRuntimeModelWithStart",
                },
                viewPara:{
                    modelId:BaseUtility.GetUrlParaValue("modelId"),
                    modelKey:BaseUtility.GetUrlParaValue("modelKey")
                }
            },
            mounted:function () {
                DialogUtility.AlertLoading(window, DialogUtility.DialogLoadingId, {}, "");

                AjaxUtility.Get(this.acInterface.getRuntimeModelWithStart, {modelKey: this.viewPara.modelKey}, function (result) {
                    console.log(result);

                    BaseUtility.SetSystemFavicon();
                    var isStartInstanceStatus = true;
                    flowRuntimePageObject = FlowRuntimePageObject.pageReadyForStartStatus(isStartInstanceStatus, result.data,result.cacheKey,this);
                }, this);
            },
            methods: {
            }
        });
    </script>
</body>
</html>