<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title1</title>
    <th:block th:replace="Fragment/GeneralLib::WorkFlowRuntimeLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::LineAwesomeLib"></th:block>
    <style>
        .model{
            padding: 20px;
            margin: 10px;
            border: #0F74A8 1px solid;
            border-radius: 8px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="appForm" class="general-edit-page-wrap" v-cloak>
    <div v-for="item in models" class="model" @click="startNewInstance(item)">
        <div>{{item.modelName}}</div>
    </div>
</div>
<script>
    var appForm = new Vue({
        el:"#appForm",
        data: {
            acInterface:{
                getMyBootableModel:"/Rest/Workflow/RunTime/Client/ModelRuntime/GetMyBootableModel",
                startInstanceView: "/JB4DCBuilderClient/HTML/WorkFlow/Runtime/InstanceStart.html"
            },
            models:[]
        },
        mounted:function () {
            AjaxUtility.Get(this.acInterface.getMyBootableModel,{},function (result){
                console.log(result);
                this.models=result.data.modelIntegratedEntityList;
            },this);
        },
        methods: {
            startNewInstance(modelPO) {
                var url=BaseUtility.BuildView(this.acInterface.startInstanceView,{
                    modelId:modelPO.modelId,
                    modelKey:modelPO.modelReKey
                });
                DialogUtility.Frame_OpenIframeWindow(window, DialogUtility.DialogWorkFlowFormId,url, {
                    title:"发起["+modelPO.modelName+"]"
                }, 0, false);
            }
        }
    });
</script>
</body>
</html>